.child-component {
    border: 2px solid #0d6efd;
    padding: 20px;
  }
  

  

  .comment-section {
    background-color: #f6f7f9;
    margin: 0;
}

.single-comment:first-of-type {
  border-top: 1px solid #e1e2e3;
  padding-top: 12px;
}

.single-comment {
  padding: 0 0 0 12px;
  margin: 0;
}

.single-comment:first-of-type img {
  background-image: url(https://assets-global.website-files.com/5fa4da31b6c3a45d2cfd2d5d/626d203e402649981b8a614b_elon-musk-gf5979ed4d_1920.jpg);
}

.single-comment img {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1448830269/gzcifut4c2xah95x0ewd.jpg);
  background-size: cover;
  background-position: center;
  border: none;
}

.single-comment .single-container {
  padding-left: 40px;
  padding-right: 20px;
}

.single-comment .buttons {
  margin-top: 0;
  padding-left: 40px;
}

.single-comment .single-container span:first-of-type {
  cursor: pointer;
  font-weight: bold;
  color: #365899;
  font-size: 12px;
  margin: 0;
}

.single-comment .single-container span {
  font-size: 12px;
  margin-left: 5px;
}

.single-comment .buttons p {
  display: inline-block;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  margin-right: 8px;
  margin-top: 5px;
}

.single-comment .buttons p:last-of-type {
  color: #90949c;
  cursor: auto;
  text-decoration: none;
}