<!-- <div class="child-component  comp p3">
  <p>Child component</p>
  <ul>
    <li *ngFor="let c of comments">{{c.text}}</li>
  </ul>
  <button class="btn btn-primary" (click)="like()">Like</button>
  <div>{{ render() }}</div>
  <app-comments-child></app-comments-child>
</div> -->




<div class="comment-section child-component comp p3">
  <div class="single-comment"><img>
    <div class="single-container"><span>Elon Musk</span><span>Angular Standalone Components are awesome!!...</span></div>
    <div class="buttons">
      <p class="action-button" (click)="like()">Like</p>
      <p class="action-button">Reply</p>
      <p>
        3h ago
      </p>
    </div>
  </div>
  <div class="single-comment"><img>
    <div class="single-container"><span>Mark Zuckerberg</span><span>Oh! I didn't take a chance to look at it yet, but will check it out!</span></div>
    <div class="buttons">
      <p class="action-button" (click)="like()">Like</p>
      <p class="action-button">Reply</p>
      <p>
        2h ago
      </p>
    </div>
    {{ render() }}
    <app-comments-child></app-comments-child>

  </div>
</div>